body {
  /* background-color: #288d26; */
  background-size: 100vw 100vh;
  background-image: url(images/bg.gif);
}

img {
  height: 15vh;
  position: absolute;
  top: 0;
  left: 0;
}

.car {
  transition: transform 0.1s;
  transform: rotate(45deg);
}
